<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chats</title>
    <link rel="stylesheet" href="Style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <a href="http://localhost:8080/chats/new">Add new message</a>
    <br /><br />
    <% for(chat of chats){%>
    <a href="http://localhost:8080/chats/<%=chat._id%>">
      <div class="chat">
        <p>From: <i><%=chat.from%></i></p>
        <p class="msg">
          <%=chat.message%> &nbsp;&nbsp;
          <a
            href="http://localhost:8080/chats/<%=chat._id%>/edit"
            style="color: white"
            >Edit</a
          >
        </p>
        <p>Recieved by <i><%=chat.to%></i></p>
        <p><%=String(chat.date).split(" ")[4]%></p>
        <p><%=String(chat.date).split(" ").slice(0,4).join("-")%></p>
        <form action="/chats/<%=chat._id%>?_method=DELETE" method="post">
          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
      <br /><br />
    </a>
    <%} %>
  </body>
</html>
